name: Go
on: [ push ]

env:
  GO111MODULE: on

jobs:
  build-ko:
    name: Build with ko
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - uses: actions/checkout@v2
      - run: go test .

